@import "~@angular/material/prebuilt-themes/indigo-pink.css";


:root{

	/* Easing */

	--easestd: all 350ms cubic-bezier(0.4, 0.0, 0.2, 1);
	--easein: all 250ms cubic-bezier(0.0, 0.0, 0.2, 1);
	--easeout: all 200ms cubic-bezier(0.4, 0.0, 1, 1);

	/* Colors */

	--color-p:#8BC34A;
	--color-pl:#9ccc65;
	--color-pd:#7cb342;
	



	--white:#fff;
	--dark:#000;

}




/***** BASICS
************************************/

body{
    background-color: #e1e2e5;
    font-family: 'Nunito Sans', sans-serif !important;
	-webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-rendering: optimizeLegibility;  
    color: #303030;
}


#overlay{
	background: rgba(0,0,0,0.5);
	position: fixed;
	z-index: 195;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	display: none;
}

#logoapp{
    font-size: 25px;
    font-weight: 700;
    height: 50px;
    padding: 7px 10px;
    max-width: 200px;
    width: 100%;
    transition: var(--easeout);
	-webkit-transition: var(--easeout);
	-webkit-transform: translateX(0px);	
    transform: translateX(0px);
}



/***** FIXES
************************************/

.row{
	margin:0;
}

:focus, :active{
    outline: none !important;

}

.mat-card, .mat-form-field {
    font-family: 'Nunito Sans', sans-serif !important;
}


/***** MODULES
************************************/

#module-header {
    background:#11a6bb;
    padding: 30px 0;
}


#module-header.green {
	background: #8BC34A;
}

#module-header h3{
	color: #fff;
}


#module-content{
	margin-top: -20px;
}


/***** APP NAVBAR 
************************************/


#app-navbar {
    width: 200px;
    position: fixed;
    height: calc(100vh - 50px);
    background: #fff;
    top: 50px;
    left: 0;
    transition: var(--easeout);
    -webkit-transition: var(--easeout);
    z-index: 200;
}


ul#nav {
    list-style: none;
    padding: 0;
    padding-top: 15px;
}

ul#nav li:hover a {
    background: rgba(44, 50, 69, 0.1);
    text-decoration: none;
    color:#48a6bb;

}


ul#nav li:hover i {
    opacity: 1;
    color:#48a6bb;
}


ul#nav li a {
    font-weight: 600;
    text-transform: uppercase;
    padding:12px;
    padding-left: 50px;
    display: block;
    font-size: 14px;
    color: #2c3245;
    letter-spacing: 1px;
}

ul#nav li .material-icons {
    position: absolute;
    left: 15px;
    font-size: 20px;
    margin-top: 10px;
    pointer-events: none;	
    opacity: 0.6;
}

#toggle-app-navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 205;
    transition: var(--easeout);
    background: transparent;
    border: 0;
    transform: scale(1) translateX(-55px);
}



#toggle-app-navbar.active span {
    background: #2c3245;
    transition: var(--easein);
	-webkit-transition: var(--easein);
}

#toggle-app-navbar span {
    background: #fff;
    width: 28px;
    height: 2px;
    border-radius: 0px;
    position: absolute;
    left: 11px;
    transition: var(--easeout);
	-webkit-transition: var(--easeout);

}

#toggle-app-navbar span.line1 {
    top: 13px;
}

#toggle-app-navbar span.line2 {
    top: 24px;
    width: 20px;
    right:0;
}

#toggle-app-navbar span.line3 {
    top: 35px;
}
    
/* Menu Close */

#toggle-app-navbar.active span.line1{

    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    top: 24px;

}
#toggle-app-navbar.active span.line2{
    width: 0px;
}
#toggle-app-navbar.active span.line3{
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
    top: 24px;
}







/***** APP HEADBAR
************************************/

app-headbar {
    background: #2C3146;
    width: 100%;
    height: 50px;
    position: fixed;
    color: #fff;
    z-index: 100;
}


/***** APP CONTENT
************************************/



#app-content {
    width: calc(100% - 200px);
    right: 0;
    top: 50px;
    height: calc(100vh - 50px);
    position: fixed;
    transition: var(--easeout);
    -webkit-transition: var(--easeout);
    z-index: 10
}



/***** APP CONTENT
************************************/

@media only screen and (max-width : 768px) {

	#app-navbar.active {
		transform: translateX(0px);
	    transition: var(--easein);
	    -webkit-transition: var(--easein);
	}

	#app-navbar {
		-webkit-transform: translateX(-200px);
		transform: translateX(-200px);
	}

	#toggle-app-navbar.active {
	  background:rgba(255,255,255,0.5);
	  transition: var(--easein);
	  transform: scale(0.7);
	}


	#toggle-app-navbar {
		-webkit-transform: scale(1) translateX(0px);
	    transform: scale(1) translateX(0px);
	}
	#logoapp {
		-webkit-transform: translateX(55px);	
	    transform: translateX(55px);
	    transition: var(--easein);
	    -webkit-transition: var(--easein);
	}
	#app-content {
		width: 100%;
	}

	#overlay.active{
		display: block;
	}



}